<div class="home-header">
    <div class="container">
        <div class="row">
        	<div class="col-md-12 text-center headerTitle">
        		<h1 class="thin">
        			Sportlery
        		</h1>
        		<p class="lead thin">
        			TOGETHER WE SPORT
        		</p>

        	</div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12 col-sm-12">
    		<div class="row">

    		</div>
    		<div class="row text-center">
    			<button class="btn btn-primary information-btn-top" id="btn-index-more">{{'Wat is Sportlery?'|_ }}</button>
    		</div>
    	</div>
    </div>
<div class="row" id="page-one"></div>
</div>
