[viewBag]

[staticMenu guestMenu]
code = "guestMenu"

[staticMenu userMenu]
code = "userMenu"
==
<nav id="layout-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
       {% if user %} 
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ 'home'|page }}">
                <img src="{{ 'resources/img/logo.png'|theme }}" alt="Sportlery">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
                {% partial 'site/user-menu' class='' %}
        </div>
        {% else %}


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand navbar-mob" href="{{ 'home'|page }}">
                <img src="{{ 'resources/img/logo.png'|theme }}" alt="Sportlery">
            </a>

        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ 'trainer'|page }}">{{'Trainers'|_}}</a></li>
            <li><a href="{{ 'sportclub'|page }}">{{ 'Sportclubs'|_ }}</a></li>
            </ul>
            <div class="text-center">
                <a class="navbar-brand navbar-guest" href="{{ 'home'|page }}">
                    <img src="{{ 'resources/img/logo.png'|theme }}" alt="Sportlery">
                </a>
                
            </div>            
                {% partial 'site/guest-menu' class='' %}
        </div>    
        {% endif %}

    </div>
</nav>
{% flash %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
            </div>
        </div>
    </div>
{% endflash %}
{% if not user %}
{% endif %}
