

<div class="container home-container-1">
	<div class="row">
		<div class="col-md-12 text-center" id="page-one">
			<h1 style="margin-top: 50px; margin-bottom: 40px;"><b>{{'Wat is Sportlery?'|_ }}</b></h1>
            <h3 style="margin-bottom: 35px;">{{'Sportlery is een online community waar mensen elkaar kunnen vinden om samen te sporten, samen activiteiten te organiseren en heel gemakkelijk een sportlocatie kunnen boeken.'|_ }}</h3>
            <div class="col-md-12 text-center">
                <iframe style="width: 70%; height: 350px;" src="https://www.youtube.com/embed/3y4G2FyxZnY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
	</div>
	<div class="row text-center">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			<!-- Content -->
		</div>
	</div>
    <hr class="hr-invisible">

  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 infomation-col" id="index-slideup-obj-3" >
            <img src="{{ 'resources/img/trainer.png'|theme }}" style="width: 80px;">
            <h1 class="h1-default text-center"><strong>{{ 'Activiteiten'|_ }}</strong></h1>
            <p>{{'Probeer en ontdek nieuwe sporten! Overzichtelijk alle sport activiteiten die aangeboden worden bij jou in de buurt.'|_}}</p>
            <hr class="hr-sm">
            <button class="btn btn-primary information-btn" id="btn-activities-more">{{'Lees meer'|_ }}</button>
        </div>
        <div class="col-md-4 col-sm-4 infomation-col" id="index-slideup-obj-2">
            <img src="{{ 'resources/img/matchmaking.png'|theme }}" style="width: 80px;">
            <h1 class="h1-default text-center h1-header-sub-2"><strong>{{'Matchmaking'|_ }}</strong></h1>
            <p>{{'Ga op zoek naar sportbuddies bij jou in de buurt of vind invallers voor jouw team.'|_ }}</p>
            <hr class="hr-sm">
            <button class="btn btn-primary information-btn" id="btn-whatis-more">{{'Lees meer!'|_}}</button>
        </div>
        <div class="col-md-4 col-sm-4 infomation-col" id="index-slideup-obj">
            <img src="{{ 'resources/img/location.png'|theme }}" style="width: 80px;">
            <h1 class="h1-default text-center"><strong>{{'Sport Locaties'|_ }}</strong></h1>
            <p>{{'Kies je sport en zoek een locatie bij jou in de buurt. Boek een plek en sporten maar!'|_}}</p>
            <hr class="hr-sm">
            <button class="btn btn-primary information-btn" id="btn-locations-more">{{'Lees meer!'|_}}</button>
        </div>
    </div>
  </div> 
</div>
<!--<div class="row" id="activities"></div>
<div class="activities">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h2>Activities</h2>
            {% partial 'userHome/activities' %}
        </div>
    </div>
</div>
<div class="row" id="matchmaking"></div>
<div class="matchmaking">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h2>Matchmaking</h2>

        </div>
    </div>
</div>
<div class="row" id="locations"></div>
<div class="locations">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h2>Locations</h2>
            <small>Coming Soon</small>
        </div>
    </div>
</div>-->

<hr class="hr-invisible">

<div class="parallaxTwo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="featurette-heading">Partners</h2>
        <p>{{'Heb jij de leiding over een sportlocatie die geboekt kan worden of bied jij lessen aan?'|_ }} <br> {{'Deel je aanbod op ons platform en bereik meer sporters. Bekijk alle voordelen.'|_ }}</p>
      </div> <!-- end col -->
    </div>
    <hr class="hr-invisible-sm">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-md-offset-2">
        <a class="btn btn-default" href="/sportclub">Sportclubs</a>      </div>
      <div class="col-xs-6 col-md-4">
        <a class="btn btn-default" href="/trainer">Trainer</a>      </div>
    </div><!-- end row -->
  </div> <!-- end container -->
</div>
<div class="parallax3" style="background-color: rgb(244, 104, 53);padding: 25px 0 25px 0px;">
    <div class="container" style="background-color: rgb(244, 104, 53);">
          <div class="row text-center">
        <h3 style="color: white;"><b>{{'Wil je één van de eerste locaties zijn? Laat dan nu je E-mail achter:'|_ }}</b></h3>
        <div class="mailing col-md-12">

        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
          #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//sportlery.us15.list-manage.com/subscribe/post?u=aa872f36fd0b3fc238705937c&amp;id=3032f2fb1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa872f36fd0b3fc238705937c_3032f2fb1e" tabindex="-1" value=""></div>
            <div class="clear" style="min-width: 25%; display: inline-block;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->  
        </div>
      </div>
    </div>
</div>



<div class="container">
<hr class="hr-invisible-sm">
<hr class="hr-invisible-sm">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{'"Sporten was nog nooit zo gemakkelijk. Sportlery maakt sporten laagdrempelig voor sporters en hun favoriete sport"'|_ }}</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
          <h2 class="h-orange">{{'Flexibel'|_ }}</h2> <h4><span class="text-muted">{{'Geen vaste abbonementskosten'|_ }}</span></h4>
      </div>
      <div class="col-md-4">
          <h2 class="h-orange">{{'Variatie'|_ }}</h2> <h4><span class="text-muted">{{'Ontdek meer sporten en doe mee aan evenementen.'|_ }}</span></h4>
      </div>
      <div class="col-md-4">
          <h2 class="h-orange">{{'Motivatie'|_ }}</h2> <h4><span class="text-muted">{{'Er zijn meerdere mensen om je heen die graag sporten, sport samen!'|_ }}</span></h4>
      </div>
    </div>
  </div> <!-- end row -->

  <hr class="hr-invisible-sm">

</div>
