{% if user %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ 'home'|page }}">Home</a>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="img-dropdown">
            <i class="glyphicon glyphicon-envelope"></i>
            <span class="visible-xs-inline">{{ 'Meldingen'|_ }}</span>
            <span class="caret visible-xs-inline-block"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header hidden-xs" role="presentation">{{ 'Meldingen'|_ }}</li>
            <li role="presentation"><a href="{{ 'message-center'|page }}">{{ 'Berichtencentrum'|_ }}</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="img-dropdown">
            <img class="img-circle" src="{{ user.avatarThumb(30,30) }}">
            <span class="visible-xs-inline">{{ user.name }} {{ user.surname }}</span>
            <span class="caret visible-xs-inline-block"></span>
        </a>

        <ul class="dropdown-menu" role="menu" data-dropdown-title="A dropdown menu">
            <li class="dropdown-header hidden-xs" role="presentation">{{user.name}} {{user.surname}}</li>
            <li role="presentation"><a href="{{ 'settings'|page }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-wrench"></span> Profile Settings</a></li>
            <li role="presentation"><a href="{{ 'help'|page }}"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li role="presentation">
                <a id="logout" href="#">
                    <i class="glyphicon glyphicon-off"></i> {{ 'Uitloggen'|_ }}
                </a>
                {{ form_open({ request: 'session::onLogout' }) }}
                    {{ form_hidden('redirect', 'home'|page) }}
                {{ form_close() }}
            </li>
        </ul>
    </li>
</ul>
{% endif %}
