<!-- profile: components/UserProfile -->
<div class="col-sm-12 text-right">
    <a href="{{ 'sportlers'|page }}" class="btn btn-default">{{ 'Terug'|_ }}</a>
</div>

<div class="col-sm-12">
    <div class="profile-header">
        <div class="row">
            <div class="col-sm-8 col-xs-4 col-xs-offset-4 col-sm-offset-2 text-center">
                <img src="{{ profile.avatarThumb(100,100) }}" height="100" weight="100">
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h1 class="profile-heading">{{ profile.name }} {{ profile.surname }}</h1>
            <h4 class="profile-description">
            {% if profile.sports is not empty %}
                {{ profile.sports.lists('name')|join(' | ') }} |
            {% endif %}
             {{ profile.city ?: 'Onbekend locatie'|_}}</h4>
        </div>
    </div>
</div>
