[staticPage]

[session]
security = "user"
redirect = "login"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sportlery - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Sportlery">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ 'assets/css/sportlery.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body class="dashboard">

{% partial 'site/header' %}
<!-- Sidebar -->
<div id="wrapper">

    {% partial 'dashboard/sideMenu' %}
    <!-- Page Content -->
    <div id="page-content-wrapper">

        {% flash %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
                </div>
            </div>
        </div>



        {% endflash %}
        <a href="#menu-toggle" class="btn btn-warning" id="menu-toggle" title="Hide/Show Sidebar"><span class="glyphicon glyphicon-chevron-left" id="sidebar-toggle"></span></a>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% page %}
                    {% partial 'dashboard/dashboard-modal' %}

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
{% partial 'site/footer' %}

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% framework %}
{% scripts %}
<script src="{{ 'assets/js/sportlery.js'|theme }}"></script>
</body>
</html>
