<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<div class="sidebar-img text-center">
					<img src="{{ user.avatarThumb(128) }}">
					<li class="sidebar-user">
	                	{{ user.name }} {{ user.surname }}
	                </li>
				</div>
                <li class="sidebar-item-header">
                    <a href="/dashboard"><b><span class="glyphicon glyphicon-home"></span> Dashboard</b></a>
                </li >
                <li class="sidebar-item">
                    <a href="/dashboard/settings"><span class="glyphicon glyphicon-wrench"></span> Profile Settings</a>
                </li >
                <li class="sidebar-item">
                    <a href="/dashboard/messages"><span class="glyphicon glyphicon-envelope"></span> Message Center <i class="dashboard-badge">x</i></a>
                </li >
                <li class="sidebar-item">
                    <a href="/dashboard/sportbuddies"><span class="glyphicon glyphicon-user"></span> Sport Buddies <i class="dashboard-badge">x</i></a>
                </li>
                <li class="sidebar-item">
                	<a href="/dashboard/tickets"><span class="glyphicon glyphicon-pushpin"></span> Tickets <i class="dashboard-badge">x</i></a>
                </li>
                <li class="sidebar-item">
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log-Out</a>
                </li><br>
            </ul>
            <ul class="sidebar-nav">
                <li class="sidebar-item-header">
                    <a href="/dashboard/events/"><span class="glyphicon glyphicon-calendar"></span><b> Events</b></a>
                </li>
            	<li class="sidebar-item">
                    <a href="/dashboard/events/"><span class="glyphicon glyphicon-list-alt"></span> Your Events <i class="dashboard-badge">x</i></a>
                </li>
                <li class="sidebar-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span> Create a New Event</a>
                </li>
                <li class="sidebar-item">
                    <a href="#"><span class="glyphicon glyphicon-list"></span> Event History</a>
                </li><br>
            </ul>

            <ul class="sidebar-nav">
                <li class="sidebar-item-header">
                    <a href="/dashboard/location-list"><span class="glyphicon glyphicon-map-marker"></span><b> Location</b></a>
                </li>
            	<li class="sidebar-item">
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span> Request New Location</a>
                </li ><br>
            </ul>
        </div>
