<div id="sidebar-wrapper">
            <ul class="sidebar-nav">	
				<div class="sidebar-img text-center">
					<img src="{{ user.avatar.thumb(200,auto) }}
					<li class="sidebar-user">
	                	{{ user.name }} {{ user.surname }}
	                </li>
				</div>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
            	<li class="sidebar-brand">
            		<h4><span class="glyphicon glyphicon-wrench"></span><b> Personal</b></h4>
                <ul class="sidebar-nav-sub">
                	
	                <li>
	                    <a href=""><span class="glyphicon glyphicon-cog"> Settings</span></a>
	                </li>
                </ul>	
            	</li>
                
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>