html,
body {
    height: 100%;
}

body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    overflow-x: hidden;
}

.content-wrap {
     min-height: calc(100vh - #{$footer-height + $navbar-height + $navbar-margin-bottom + $footer-margin-top});
}

.hr-invisible {
	border-top: none;
}

.strong-name-left {
	float: left;
}

.header-row {
	min-height: 300px;
}

.profile-container {
	position: relative;
}

.panel-edge {
	padding: 10px;
}

.menu-content {
	width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.user-menu-dropdown {
	padding-left: 20px;
	padding-top: 30px;
	height: 100px;
	width: 80px;
}

.menu-image {
	border-radius: 50%;
}

@media screen and (min-width: 800px) {
	.menu-content {
		width: 25%;
	}
}


