// ------------
// BOOTSTRAP OVERRIDES
// ------------
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$body-bg: #fafafa;

$brand-primary: #f46835;

$navbar-default-color: #f46835;
$navbar-default-bg: #fff;
$navbar-default-link-color: #595959;
$navbar-height: 100px;

$panel-default-border: #eee;

$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
