$footer-height: 100px;
$footer-bg: #f0f0f0;
$footer-color: #595959;
$footer-margin-top: $navbar-margin-bottom;
$footer-padding-top: $line-height-computed;
$footer-padding-bottom: $line-height-computed;
