html,
body {
    height: 100%;
}

body {
    padding-top: $navbar-height + $navbar-margin-bottom;
}

.content-wrap {
     min-height: calc(100vh - #{$footer-height + $navbar-height + $navbar-margin-bottom + $footer-margin-top});
}

.hr-invisible {
	border-top: none;
}

.strong-name-left {
	float: left;
}

.header-row {
	min-height: 300px;
}

.profile-container {
	position: relative;
}

.panel-edge {
	padding: 10px;
}

// Sportlery Head image

.user-menu-dropdown {
	height: 100px;
	vertical-align: middle;
}

.avatar{
	max-width: 100%;
}

.header2 {
  height: 85vh;
  padding-top: 100px;
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: center;
  background-image: url('../resources/image/about_verhaal_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}