title = "Pre-Registration Page"
url = "/"
layout = "pre-register"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0

[fourStepRegistration]

[session]
security = "all"
redirect = "home"

[restrictUserCountry]
countryCode = "NL"
==
{% if not userCountryAccess %}
    <div class="row text-center">
        <h1>Not Available</h1>
        <p>Sorry, this pre-registration is not available in your country. Please check back later!</p>
    </div>
{% else %}
    {% if not user %}
        {% component 'account' %}
    {% else %}
        {% component 'fourStepRegistration' %}
        <div class="row text-center">
            <h1>Thank You for registering!</h1>
            <p>We hope to see you on the 17th of april!</p>
        </div>
    {% endif %}
{% endif %}
