<form data-request="onRegister">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Choose a password" />
    </div>

    <div class="form-group">
        <label for="passwordConfirm">Password (Repeat)</label>
        <input name="password" type="password" class="form-control" id="passwordConfirm" placeholder="Repeat password" />
    </div>

    <p>dsdasdas</p>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
