[eventList]
perPage = 10

[viewBag]
==
<div class="container">
	<div class="col-md-8">
		<div class="row">
			<!-- list content Upcomming in area you are participating -->
			{% component 'upcommingEvents' %}
		</div>
		<div class="row">
			{% component 'userEventList' %}	
			<!-- list all of your created events -->
		</div>
			<!-- bigass Create button -->
		<div class="row">
			{% component 'eventList' %}
			<!-- list content upcomming suggestions (all in area with user sports) -->
		</div>
	</div>
	<div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
		<div class="row">
			<!-- scrolling side menu (with page) -->
			<div class="panel panel-default">
				<div class="panel-body">
					Basic panel example
				</div>
			</div>
		</div>
		<div class="row">
			<!-- calendar with all your events -->
			<div class="panel panel-default">
				<div class="panel-body">
					Basic panel example
				</div>
			</div>
		</div>
	</div>
	
</div>

