[viewBag]

[eventList]
perPage = 10

[userEventList]
perPage = 10

[eventCityList]
perPage = 10
==
<div class="container">
	<div class="col-md-8">
		<div class="row">
			<!-- list content Upcomming in area you are participating -->
			{% component 'userEventList' %}

			dsadadasdasd
		</div>
		<div class="row">
			{% component 'eventCityList' %}
			dsadasdasdasdsa
			<!-- list all of your created events -->
		</div>
			<!-- bigass Create button -->
		<div class="row">
			{% component 'eventList' %}
			dsadadawqdadws
			<!-- list content upcomming suggestions (all in area with user sports) -->
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<!-- scrolling side menu (with page) -->
		</div>
		<div class="row">
			<!-- calendar with all your events -->
		</div>
	</div>
	
</div>