[viewBag]

[locationList]
perPage = 10

[locationCloseList]
perPage = 10
==
<div class="container">
	<div class="col-md-8">
		<div class="row">
			<!-- list content Upcomming/or have been to, in area you are participating -->
			{% component 'locationUserList' %}

			dsadadasdasd
		</div>
		<div class="row">
			{% component 'locationCloseList' %}
			dsadasdasdasdsa
			<!-- list all of your created location -->
		</div>
			<!-- bigass Create button -->
		<div class="row">
			{% component 'locationList' %}
			dsadadawqdadws
			<!-- list content location suggestions (all in area with user sports) -->
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<!-- scrolling side menu (with page) -->
		</div>
		<div class="row">
			<!-- calendar with all your events -->
		</div>
	</div>
	
</div>