{{ form_open({ request: 'onRegister' }) }}
    <div class="form-group">
        {{ form_label('email', 'E-Mail'|_, { class: 'control-label' }) }}
        {{ form_input('email', 'email', null, { class: 'form-control', placeholder: 'Vul je e-mail adres in'|_ }) }}
    </div>

    <div class="form-group">
        {{ form_label('password', 'Wachtwoord'|_, { class: 'control-label' }) }}
        {{ form_password('password', { class: 'form-control', placeholder: 'Vul een wachtwoord in'|_ }) }}
    </div>

    <div class="form-group">
        {{ form_label('password_confirmation', 'Wachtwoord bevestiging'|_, { class: 'control-label' }) }}
        {{ form_password('password_confirmation', { class: 'form-control', placeholder: 'Bevestig je wachtwoord'|_ }) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'Registreer'|_ }}</button>
    </div>

    <p>
        {{ 'Door in te loggen of te registreren ga je akkoord met onze'|_ }}
        <a href="{{ 'privacy-policy'|page }}" target="_blank">{{ 'Privacy Policy'|_ }}</a>.
    </p>
{{ form_close() }}
