
{{ form_ajax('onUpdate', { model: user }, { files: true }) }}
    <div class="form-group">
        {{ form_label('name', 'First Name', { class: 'control-label' }) }}
        {{ form_text('name', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('surname', 'Last Name', { class: 'control-label' }) }}
        {{ form_text('surname', null, { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('email', 'E-Mail', { class: 'control-label' }) }}
        {{ form_input('email','email', null, { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('password', 'New Password', { class: 'control-label' }) }}
        {{ form_password('password', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('password_confirmation', 'Confrim New Password', { class: 'control-label' }) }}
        {{ form_password('password_confirmation', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('street', 'Street', { class: 'control-label' }) }}
        {{ form_text('street', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('zip_code', 'Zip code', { class: 'control-label' }) }}
        {{ form_text('zip_code', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('city', 'City', { class: 'control-label' }) }}
        {{ form_text('city', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('state', 'State', { class: 'control-label' }) }}
        {{ form_text('state', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('country', 'Country', { class: 'control-label' }) }}
        {{ form_text('country', null, { class: 'form-control' }) }}
    </div>
    <div class="form-group">
        {{ form_label('bio', 'Biography', { class: 'control-label' }) }}
        {{ form_textarea('bio', null, { class: 'form-control', rows: 6 }) }}
    </div>

    <button type="submit" class="btn btn-default">Save</button>

{{ form_close() }}
