#footer {
    height: $footer-height;
    background-color: $footer-bg;
    color: $footer-color;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    margin-top: $footer-margin-top;
}
